*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    background: linear-gradient(90deg, rgba(19, 49, 21, .8) , rgba(53, 51, 51, .8));
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
}

header{
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: .5em;
   
}

h2{
    font-weight: lighter;
}

h2 span{
    font-weight: bolder;
}

.control{
    text-align: center;
    padding: 2em 0;
    
}

.control label{
    font-size: 20px;
    color: white;
    font-weight: lighter;
   
}

input[type=range]{
     -webkit-appearance: none;
  appearance: none;
  width: 10%;
  height: 3px;
  border-radius: 5px;
  outline: none;
  transition: .2s;
  opacity: 1;
  background: rgb(224, 219, 219);
}

input[type=range]:hover{
    opacity: .7;
}


  input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }
  input[type=color]{
      border: none;
      outline: none;
      width: 50px;
     cursor: pointer;
     margin: 1em 0;
  }


.img{
    text-align: center;
    padding: 2em;
    width: 100%;
}

:root{
    --base: #9acd32;
    --spacing: 0px;
    --blur: 0px;
}


img{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
   
}

@media screen and (max-width : 500px){
    img{
        width: 100%;
    }
}

.h1{
    color: var(--base);
}
